<header>Select Battle</header>
<div class="selection-container">
	<div class="hero-selection">
		<ul>
			<li class="hero 1">
				<img src="http://placehold.it/50x50">
				<img src="http://placehold.it/250x250">hero1
			</li>
			<li class="hero 2">
				<img src="http://placehold.it/50x50">
				<img src="http://placehold.it/250x250">
			</li>
			<li class="hero 3">
				<img src="http://placehold.it/50x50">
				<img src="http://placehold.it/250x250">
			</li>
		</ul>
	</div>
	<div class="random-location">
		<ul>
			<li class="location 1">
				<img src="http://placehold.it/50x50">
				<img src="http://placehold.it/250x250">
			</li>
			<li class="location 2">
				<img src="http://placehold.it/50x50">
				<img src="http://placehold.it/250x250">
			</li>
			<li class="location 3">
				<img src="http://placehold.it/50x50">
				<img src="http://placehold.it/250x250">
			</li>
		</ul>
	</div>
	<div class="random-villain">
		<ul>
			<li class="villian 1">
				<img src="http://placehold.it/50x50">
				<img src="http://placehold.it/250x250">
			</li>
			<li class="villian 2">
				<img src="http://placehold.it/50x50">
				<img src="http://placehold.it/250x250">
			</li>
			<li class="villian 3">
				<img src="http://placehold.it/50x50">
				<img src="http://placehold.it/250x250">
			</li>
		</ul>
	</div>
</div>
