<header>Select Battle</header>
<div class="popup-div">
	<div class="closepopup"></div>
	<img src="http://placehold.it/100x100">
	<h1>Created by: </h1>
		<span>M</span>
		<span>G</span>
		<span>K</span>
		<div class="backstory">
			<h3>Backstory</h3>
			<p>You are a hero who likes to punch bad people in the face, dont worry you're not a bad person just because you punch people 
				in the face, you take the law into your own hands. Get ready for some street justice.
			</p>
			<p>Instructions on how to play</p>
		</div>
		<button class="characterselectbutton">Select Your Hero</button>
		<div class="footer-div">
			<input type="submit" class="facebookshare" value="Share to Facebook">
			<input type="submit" class="twittershare" value="Share to Twitter">
		</div>
</div>
<header>Select Battle</header>
<div class="selection-container">
	<div class="hero-selection">
		<ul>
			<li class="hero 1">
				<i class  =  "fa fa-cog fa-spin fa-2x"></i>
				<img id="hero1" src="http://placehold.it/250x250">hero1
			</li>
			<li class="hero 2">
				<i class  =  "fa fa-cog fa-spin fa-2x"></i>
				<img id="hero2" src="http://placehold.it/250x250">
			</li>
			<li class="hero 3">
				<i class  =  "fa fa-cog fa-spin fa-2x"></i>
				<img id="hero3" src="http://placehold.it/250x250">
			</li>
		</ul>
	</div>
	<div class="random-location">
		<ul>
			<li class="location 1">
				<i class  =  "fa fa-cog fa-spin fa-2x"></i>
				<img src="http://placehold.it/250x250">
			</li>
			<li class="location 2">
				<i class  =  "fa fa-cog fa-spin fa-2x"></i>
				<img src="http://placehold.it/250x250">
			</li>
			<li class="location 3">
				<i class  =  "fa fa-cog fa-spin fa-2x"></i>
				<img src="http://placehold.it/250x250">
			</li>
		</ul>
	</div>
	<div class="random-villain">
		<ul>
			<li class="villian 1">
				<i class  =  "fa fa-cog fa-spin fa-2x"></i>
				<img src="http://placehold.it/250x250">
			</li>
			<li class="villian 2">
				<i class  =  "fa fa-cog fa-spin fa-2x"></i>
				<img src="http://placehold.it/250x250">
			</li>
			<li class="villian 3">
				<i class  =  "fa fa-cog fa-spin fa-2x"></i>
				<img src="http://placehold.it/250x250">
			</li>
		</ul>
	</div>
</div>