
<header>Select Battle</header>

<div class="popup-div">
	<div class="closepopup"></div>
	<img src="http://placehold.it/100x100">
	<h4>Created by: </h4>
		<span>M</span>
		<span>G</span>
		<span>K</span>
		<div class="backstory">
			<h3>Backstory</h3>
			<p>You are a hero who likes to punch bad people in the face, dont worry you're not a bad person just because you punch people
				in the face, you take the law into your own hands. Get ready for some street justice.
			</p>
			<p>Instructions on how to play</p>
		</div>
		<button class="characterSelectButton">Select Your Hero</button>
		<div class="footer-div">
			<input type="submit" class="facebookShare" value="Share to Facebook">
			<input type="submit" class="twitterShare" value="Share to Twitter">
		</div>
</div>
<div class="selection-container">
	<div class="hero-selection">
		<ul>
			<li class="hero">
				<i class  =  "fa fa-cog fa-spin fa-3x"></i>
				<img id="hero1" src="../asset/heros/hero1.png">
			</li>
			<li class="hero">
				<i class  =  "fa fa-cog fa-spin fa-3x"></i>
				<img id="hero2" src="../asset/heros/hero2.png">
			</li>
			<li class="hero">
				<i class  =  "fa fa-cog fa-spin fa-3x"></i>
				<img id="hero3" src="../asset/heros/hero3.png">
			</li>
		</ul>
	</div>
	<div class="random-location">
		<ul>
			<li class="arena">
				<i class  =  "fa fa-cog fa-spin fa-3x"></i>
				<img id = "arena1" src="../asset/locations/arena1.jpg">
			</li>
			<li class="arena">
				<i class  =  "fa fa-cog fa-spin fa-3x"></i>
				<img id = "arena2" src="../asset/locations/arena2.jpg">
			</li>
			<li class="arena">
				<i class  =  "fa fa-cog fa-spin fa-3x"></i>
				<img id = "arena3" src="../asset/locations/arena3.jpg">
			</li>
		</ul>
	</div>
	<div class="random-villain">
		<ul>
			<li class="villain">
				<i class  =  "fa fa-cog fa-spin fa-3x"></i>
				<img id = "villain1"  src="../asset/villain/villain1.png">
			</li>
			<li class="villain">
				<i class  =  "fa fa-cog fa-spin fa-3x"></i>
				<img id = "villain2" src="../asset/villain/villain2.png">
			</li>
			<li class="villain">
				<i class  =  "fa fa-cog fa-spin fa-3x"></i>
				<img id = "villain3" src="../asset/villain/villain3.png">
			</li>
		</ul>
	</div>
</div>
<button id = 'fightButton'>Press to Fight!!</button>

</section>
