<div id="character">
<header>Select Battle</header>

<div class="selection-container">
	<div class="hero-selection">
		<ul>
			<li class="hero hero1">hero1</li>
			<li class="hero hero2"></li>
			<li class="hero hero3"></li>
		</ul>
	</div>
	<div class="random-location">
		<ul>
			<li class="location location1"></li>
			<li class="location location2"></li>
			<li class="location location3"></li>
		</ul>
	</div>
	<div class="random-villain">
		<ul>
			<li class="villain villian1"></li>
			<li class="villain villian2"></li>
			<li class="villain villian3"></li>
		</ul>
	</div>
</div>

</div>
