html{
  background-image: url('../../asset/background/characterSelect.JPG');
}

.selectbattle {
  background-color:RGBA(41, 42, 44, 1);
  height: 50px;
  width: 100%;
}


.selection-container {
  @include outer-container (1080px);
    background-color:rgba(99, 97, 75, 0);
    z-index: 1;
    position:absolute;
}

.selection-container img {
  @include span-columns(4 of 12);
  height: 250px;
  background-color:rgba(99, 97, 75, .75);
  border: 10px solid rgba(63, 67, 46, 1);
  border-radius: 4px;
  margin: 10px;
  position: relative;
}


.selection-container i {
  position: absolute;
  color: rgba(200, 117, 51, 1);

}

#fightButton{
  background-color:RGBA(200, 117, 51, 1);
  height: 50px;
  width: 500px;
  margin:0 auto;
}

/* .fa {
visibility: hidden;
} */

.selection-container img.selected {
  background-color: rgba(99, 97, 75, 1);
}

h3,
h4,
p{
  text-align: center;
}


p{
  padding: 40px;
}

button,
input{
  background-color:RGBA(200, 117, 51, 1);
}
