html{
  background-image: url('../../asset/background/characterSelect.JPG');
  background-size: contain;
}

.selection-container {
  @include span-columns(9);
  z-index: 0;
  background-color:rgba(99, 97, 75, 0);
}

.selection-container img {
  @include span-columns(3 of 9);
  height: 250px;
  background-color:rgba(99, 97, 75, .75);
  border: 10px solid rgba(63, 67, 46, 1);
  border-radius: 4px;
  margin: 10px;
}

.selection-container li {
  position:relative;
}

.selection-container i {
  color: rgba(200, 117, 51, 1);
  position: absolute;
}

#fightButton{
  height: 40px;
  width: 100px;
}

.fa {
  visibility: hidden;
}

.selection-container img.selected {
  background-color: rgba(99, 97, 75, 1);
}
