body {
  background-image: url("");
  color: rgba(174, 173, 162, 1);
  margin: 10px;
  margin-right: 20px;
}
.fight-header {
  margin-bottom: 75px;
  
}
.hero-info {
  width: 500px;
  margin-left: 20px;
  top:0;
  left: 20px;
}
.villain-info {
  text-align: right;
  width: 400px;
  top: 0;
  right: 70px;
  position: absolute;
}
.villain-name {
  border: 2px white solid;
  height: 20px;
  width: 150px;
}

//healthbars for fight----------------------------------------------------------------------
//------------------------------------------------------------------------------------------
.health-green {
background-color: rgba(0, 178, 72, 1);
  height: 35px;
  width: 450px;
  margin:0;
}

.health-red {
background-color: rgba(255, 43, 29, 1);
  height: 35px;
  width: 450px;
  margin:0;
}

//images-----------------------------------------------------------------------------------
//-----------------------------------------------------------------------------------------
.villain-img {
  height: 600px;
  width: 300px;
  right: 0;
  position: absolute;
  margin-right: 20px;
  border: 2px white solid;
}
.hero-img {
  height: 600px;
  width: 300px;
  margin-left: 20px;
  border: 2px white solid;
}
.fight-status {
  margin-top: 20px;
  margin-bottom: 0;
  background-color: grey;
  height: 125px;
  position: relative;
  text-align: center;
}