@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';

@import
 '../bower_components/neat/app/assets/stylesheets/neat';

@import 'popup';
@import 'character-select';
@import 'fightscreen';


// Typography
$base-font-family: $helvetica;

// Colors
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$very-light-gray: #fafafa;

$base-font-color: $dark-gray;
$base-background-color: $very-light-gray;

body {
  font-family: $base-font-family;
  color: $base-font-color;
  @include outer-container(1080px);
  margin: 0 auto;
}

header {
  background-color:rgba(99, 97, 75, .5);
}


ul {
  list-style: none;
}